<article
  class='flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row'
>
  <div
    class='[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1'
  >
    <p>
      Meu nome é Santiago Castro. Desde criança estive imerso no mundo da
      computação.
    </p>
    <p>
      Comecei a trabalhar em tecnologia em 2015 como suporte técnico, com foco
      em software e hardware.
    </p>
    <p>
      Em 2021, decidi dar o passo rumo à programação com JavaScript, e desde
      então continuo aprendendo e aperfeiçoando minhas habilidades em React, HTML,
      CSS e outras tecnologias importantes de desenvolvimento web.
    </p>
  </div>
</article>
