---
import ExperienceItem from "@/components/ExperienceItem.astro";


const EXPERIENCE = [
  {
    date: '01/2024 - No momento',
    title: 'Desenvolvedor web',
    company: 'Cobro Inmediato',
    description:
      'Desenvolvendo o Front End de páginas da Web com: React Js; JavaScript; TypeScript.',
  },
  {
    date: '04/2023 - No momento',
    title: 'Professor React Js, JavaScript',
    company: 'ORT',
    description:
      'Ditado, montagem de aulas; Parciais; Finais. Correção; Retornar; Auxílio em tudo relacionado ao assunto e ao curso realizado.',
  },
  {
    date: '08/2023 - 12/2023',
    title: 'Desenvolvedor web',
    company: 'FogaBA',
    description:
      'Levantar, projetar e desenvolver o Front End de diferentes aplicações. Assistência e suporte em aplicações web desenvolvidas. Desenvolvimento BackEnd em Node.Js com conexão com Banco de Dados Oracle.',
  },
  {
    date: '03/2022 - 08/2023',
    title: 'Desenvolvedor Front-End',
    company: 'Ministerio Público Fiscal de la Ciudad',
    description:
      'Trabalhando com linguagens como React JS, Next JS e JavaScript.',
  },
  {
    date: '01/2021 - 03/2024',
    title: 'Desenvolvedor Front-End',
    company: 'Ministerio de Justicia y Derechos Humanos de la Nacion',
    description:
      'Desenvolvendo o Front End de diferentes projetos em Angular e React JS. Trabalhando sob a estrutura de metodologias ágeis SCRUM.',
  },
];
---

<ol class='relative mt-16'>
  {
    EXPERIENCE.map((experience) => (
      <li class=''>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
