---
import Layout from "@/layouts/Layout.astro";
import Briefcase from "@/icons/BriefcaseIcon.astro";
import Code from "@/icons/CodeIcon.astro";
import ProfileCheck from "@/icons/ProfileCheckIcon.astro";
import Pc from "@/icons/PcIcon.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "./Hero.astro";
import AboutMe from "./AboutMe.astro";
import TitleSection from "@/components/TitleSection.astro";
import Experience from "./Experience.astro";
import Projects from "./Projects.astro";
---

<Layout
  title="Desenvolvedor Front End / Desenvolvedor e Programador / Santiago Castro"
  description="Desenvolvedor Front End / Desenvolvedor e Programador / Santiago Castro"
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>
  </main>
  <div class="space-y-24">
    <SectionContainer id="experiencia">
      <TitleSection>
        <Pc class="size-8" />
        Experiência de trabalho
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <TitleSection>
        <Code class="size-8" />
        Projetos
      </TitleSection>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <TitleSection>
        <ProfileCheck class="size-8" />
        sobre mim
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </div>
</Layout>
