---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/AboutMe.astro"
import Experience from "@/components/Experience.astro"
import Projects from "@/components/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import TitleSection from "@/components/TitleSection.astro"
import Briefcase from "@/icons/Briefcase.astro"
import Code from "@/icons/Code.astro"
import ProfileCheck from "@/icons/ProfileCheck.astro"
---

<Layout
  title="Front End Developer / Desarrollador y Programador / Santiago Castro"
  description="Front End Developer / Desarrollador y Programador / Santiago Castro"
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>
    <div class="space-y-24">
    <SectionContainer id="experiencia">
      <TitleSection>
        <Briefcase class="size-8" />
        Experiencia laboral
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <TitleSection>
        <Code class="size-7" />
        Proyectos
      </TitleSection>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <TitleSection>
        <ProfileCheck class="size-8" />
        Sobre mí
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </div>
  </main>
</Layout>
