<article
  class='flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row'
>
  <div
    class='[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1 text-center align-middle'
  >
    <p>
      Me llamo Santiago Castro. Desde chico estoy inmerso en el mundo de la
      informática.
    </p>
    <p>
      Empecé a trabajar en tecnología en 2015 como soporte técnico, enfocándome
      en el software y hardware.
    </p>
    <p>
      En 2021, decidí dar el paso hacia la programación con JavaScript, y desde
      entonces sigo aprendiendo y perfeccionando mis habilidades en React, HTML,
      CSS y otras tecnologías claves del desarrollo web.
    </p>
  </div>
</article>
