---
import ExperienceItem from './ExperienceItem.astro';
const EXPERIENCE = [
  {
    date: '01/2024 - Actualmente',
    title: 'Desarrollador web',
    company: 'Cobro Inmediato',
    description:
      'Desarrollando el Front End de Paginas Web con: React Js; JavaScript; TypeScript.',
  },
  {
    date: '04/2023 - Actualmente',
    title: 'Profesor React Js, JavaScript',
    company: 'ORT',
    description:
      'Dictado, armado de clases; Parciales; Finales. Correccion; Devolucion; Asistencia en todo lo relacionado con la materia y la cursada.',
  },
  {
    date: '08/2023 - 12/2023',
    title: 'Desarrollador Web',
    company: 'FogaBA',
    description:
      'Relevar, diseñar y desarrollar el Front End de diferentes aplicaciones. Asistencia y soporte en aplicaciones web desarrolladas. Desarrollo del BackEnd en Node.Js con conexión a Base de datos Oracle.',
  },
  {
    date: '03/2022 - 08/2023',
    title: 'Desarrollador Front End',
    company: 'Ministerio Público Fiscal de la Ciudad',
    description:
      'Trabajando con lenguajes como React JS, Next JS y JavaScript.',
  },
];
---

<ol class='relative mt-16'>
  {
    EXPERIENCE.map((experience) => (
      <li class=''>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
