---
import ExperienceItem from './ExperienceItem.astro';
const EXPERIENCE = [
  {
    date: '01/2024 - Actualmente',
    title: 'Desarrollador web',
    company: 'Cobro Inmediato',
    description:
      'Desarrollando el Front End de Paginas Web con: React JS, JavaScript, TypeScript.',
  },
  {
    date: '04/2023 - Actualmente',
    title: 'Profesor React JS, JavaScript',
    company: 'ORT',
    description:
      'Dictado, armado de clases, parciales y finales. Correccion, devolucion asistencia en todo lo relacionado con la materia y la cursada.',
  },
  {
    date: '08/2023 - 12/2023',
    title: 'Desarrollador Web',
    company: 'FogaBA',
    description:
      'Relevar, diseñar y desarrollar el Front End de diferentes aplicaciones. Asistencia y soporte en aplicaciones web desarrolladas. Desarrollo del Back End en Node JS con conexión a Base de datos Oracle.',
  },
  {
    date: '03/2022 - 08/2023',
    title: 'Desarrollador Front End',
    company: 'Ministerio Público Fiscal de la Ciudad',
    description:
      'Trabajando con lenguajes como React JS, Next JS y JavaScript.',
  },
  {
    date: '01/2021 - 03/2024',
    title: 'Desarrollador Front End',
    company: 'Ministerio de Justicia y Derechos Humanos de la Nación',
    description:
      'Desarrollando el Front End de diferentes proyectos en Angular y React JS. Trabajando bajo el marco de metodologías ágiles SCRUM.',
  },
];
---

<ol class='relative mt-16'>
  {
    EXPERIENCE.map((experience) => (
      <li class=''>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
