---
// const personalImageAlt = "Miguel Ángel"
import Badge from '@/components/Badge.astro';
import SocialPill from '@/components/SocialPill.astro';
import GitHub from '@/icons/GitHubIcon.astro';
import LinkedIn from '@/icons/LinkedIn.astro';
import Mail from '@/icons/MailIcon.astro';
import CvIcon from '../icons/CvIcon.astro';
---

<div class='max-w-xl'>
  <div class='flex gap-4 mb-4'>
    <!-- <img
      class="rounded-full shadow-lg size-16"
      src="/midudev.webp"
      alt={personalImageAlt}
    /> -->
    <a
      href='https://linkedin.com/in/santic93'
      target='_blank'
      rel='noopener'
      class='flex items-center transition md:justify-center md:hover:scale-105'
    >
      <Badge>Cualquier consulta es bienvenida</Badge>
    </a>
  </div>
  <h1
    class='text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white'
  >
    Bienvenid@!
  </h1>
  <p
    class='mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300'
  >
    +4 años de experiencia en la creación de interfaces web modernas. <strong
      >Desarrollador Full Stack</strong
    > de Bs.As, Argentina. Dedicado al <strong>Front End</strong>.
  </p>
  <nav class='flex flex-wrap gap-6 mt-8 justify-end'>
    <SocialPill href='https://github.com/santic93'>
      <GitHub class='size-6  hover:text-black transition-colors' />
    </SocialPill>
    <SocialPill href='https://linkedin.com/in/santic93'>
      <LinkedIn class='size-6  hover:text-[#0077B5] transition-colors' />
    </SocialPill>
    <SocialPill href='mailto:santiagocastro.sac@gmail.com'>
      <Mail class='size-6 hover:text-red-600 transition-colors' />
    </SocialPill>
    <SocialPill
      href='public/assets/Santiago-Castro-Resume-2025.pdf'
      download='santiago_castro_cv.pdf'
    >
      <CvIcon class='size-6 hover:text-gray-900 transition-colors' />
    </SocialPill>
  </nav>
</div>
