<h2
  class={`flex items-center justify-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white ${Astro.props.className} transition ease-in-out duration-75 hover:duration-300 hover:-translate-y-1 hover:scale-110 focus-visible:scale-110 focus-visible:translate-y-1 touch-hover:animate-none hover:animate-[buzz_0.15s_linear_infinite]
`}
>
  <slot />
</h2>
<style>@media (pointer: coarse) {
  .hover\:animate-buzz:hover {
    animation: none;
  }
}
@keyframes buzz {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-2px); }
  50% { transform: translateX(2px); }
  75% { transform: translateX(-2px); }
}


</style>