---
import "@fontsource-variable/onest";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preload, icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Santiago Castro" />
    <meta name="copyright" content="Santiago Castro" />
    <meta
      name="description"
      content="Soy Santiago Castro, Desarrollador Web Front End, este es mi portfolio personal, donde muestro mis proyectos, contacto, experiencia y mas informacion sobre mi"
    />
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <meta name="keywords" content="HTML, CSS, JavaScript, Astro, Tailwind" />
    <meta
      property="og:title"
      content="Santiago Castro Front End Developer * Programador"
    />
    <meta
      property="og:description"
      content="Santiago Castro Front End Developer * Programador"
    />
    <meta property="og:url" content="https://santiagocastro.vercel.app/" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="public/favicon.svg" />
    <meta name="twitter:card" content="public/favicon.svg" />
    <meta
      name="twitter:title"
      content="Santiago Castro Front End Developer * Programador"
    />
    <meta
      name="twitter:description"
      content="Soy Santiago Castro, Desarrollador Web Front End, este es mi portfolio personal, donde muestro mis proyectos, contacto, experiencia y mas informacion sobre mi"
    />
    <meta name="twitter:image" content="public/favicon.svg" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">

    <title>
      Portfolio Santiago Castro Front End Developer / Desarrollador y
      Programador
    </title>
    <ViewTransitions />
  </head>
  <body class="relative text-black dark:text-white">
    <div
      class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-gray-50 dark:bg-slate-950 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px]"
    >
    </div>
    <Header />

    <slot />
    <Footer />
    <style is:global>
      :root {
        color-scheme: light dark;
      }

      html {
        font-family: "Onest Variable", system-ui, sans-serif;
        scroll-behavior: smooth;
      }

      body {
        color: rgba(17, 17, 17, 0.9);
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overscroll-behavior: none;
      }

      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }

      @media (prefers-color-scheme: dark) {
        body {
          color: rgba(255, 255, 255, 0.9);
        }
      }

      #header-nav {
        animation: blur linear both 0.5s;
        animation-timeline: scroll();
        animation-range: 0 500px;
      }

      @keyframes blur {
        to {
          backdrop-filter: blur(20px);
          border-width: 1px;
          border-color: rgba(0, 0, 0);
          padding: 0.25rem 0.75rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          background-color: rgb(229, 229, 229);
          border-radius: 9999px;
        }
      }

      @media (prefers-color-scheme: dark) {
        @keyframes blur {
          from {
            border: 0px;
          }
          to {
            box-shadow:
              0px 5px 50px -5px rgba(0, 0, 0, 0.1),
              0px 0px 0 1px rgba(0, 0, 0, 0.3);
            background: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(20px);
            border-width: 1px;
            border-color: rgba(0, 0, 0);
            padding-left: 0.75rem;
            padding-right: 0.75rem;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 9999px;
          }
        }
      }
    </style>
  </body>
</html>
